*{
  box-sizing: border-box;
  margin: 0;
}
body{
	background:url(img/background/Background.png) repeat-x fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  /* background-color: #f7f7f7; */
  font-family: Arial, Helvetica, sans-serif;
  word-wrap: break-word;
}
input, textarea{
  border: solid 1px #00000000;
  border-radius: 5px;
}



.conteudoTopo{
  width: 100vw;
  margin: 0 auto;
  padding: 10px 25px;
	background:url(img/background/BackgroundTopo2.png);
  /* background-color: #FF7514; */
  background-size: cover;
  background-position: center;
}
.nomeTopo{
  font-size: 32px;
  text-align: center;
  padding: 6px 0 6px 0;
  font-weight: bolder;
}

.informacoes{
  width: 1181px;/* 
  height: 1350px; */
  margin: 20px auto;
  padding: 20px 10px;
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 15px;
}



.quadrados{
  display: grid;
  grid-template-columns: 191px 191px 191px 191px 191px 191px;
  grid-template-rows: 161px 161px 161px 161px 161px;
  color: #ffffff;
}
.quadrado{
  width: 190px;
  height: 160px;
  margin: 10px;
  padding: 4px;
  display: table;
  text-align: center;
  background-color: #ef7b0099;
}
#quadrado01{
  background-color: #04aa6d99;
}
#quadrado30{
  background-color: #aa040499;
}
#quadrado02, #quadrado04, #quadrado06, #quadrado12, #quadrado13, #quadrado15, #quadrado16, #quadrado25, #quadrado27, #quadrado29{
  /* background-color: #004070; */
  background-color: #0f96aebf;
  /* background-image: linear-gradient(180deg, #0F96AE 0%, #004070 60%); */
}
.divTexto1{
  display: flex;
}
.divTexto2{
  padding-top: 20px;
}
.divTexto4{
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

#quadrado07, #quadrado08, #quadrado09, #quadrado10, #quadrado11, #quadrado20, #quadrado21, #quadrado22, #quadrado23, #quadrado24{
  border: 1px solid #00000000;
  background-color: #00000000;
}

.imgTexto{
  border-left: solid 3px #F5C200;
  padding-left: 5px;
}
.pTexto2, .pTexto3{
  padding: 3px;
  margin: auto;
  font-size: 13px;
  text-align: left;
}
.pTexto1{
  margin: auto;
  display: flex;
}
.pTexto4{
  display: inline-flex;
}
.descricaoTexto,.imgTexto{
  margin: auto 0px;
}
.descricaoTexto{
  font-weight: bold;
  padding-left: 5px;
}